<img class="table" src="assets/img/home/table.png"/>
<div class="gap"></div>
<div class="home-content content-mobile">
    <div class="button-container">
        <button mat-raised-button class="download-button">
            Download the App
            <mat-icon svgIcon="Cloud"></mat-icon>
        </button>
    </div>
    <div class="title">Come in and have a sit.</div>
    <div class="subtitle">Find and book the best restaurants.</div>
    <div class="text">Are you looking to increase revenue and make your business more efficient? <br>
        Try our solutions and reach higher visibility, increased bookings in non-peak times, and equip your business with client and sits management tool that will boost efficency.</div>
</div>

<div class="home-content content-desktop">
    <div class="text-container">
        <div><img class="logo" src="assets/img/home/title.svg" /></div>
        <div class="title">Come in and have a sit.</div>
        <div class="subtitle">Find and book the best restaurants.</div>
        <div class="text">Are you looking to increase revenue and make your business more efficient? <br>
            Try our solutions and reach higher visibility, increased bookings in non-peak times, and equip your business with client and sits management tool that will boost efficency.</div>
        <div class="button-container">
            <button mat-raised-button class="download-button">
                Download the App
                <mat-icon svgIcon="Cloud"></mat-icon>
            </button>
        </div>
    </div>
</div>