@import 'src/styles/constants';
.table{
    height: 290px;
    position: absolute;
    right: -6px;
    @include tablet {
        height: 420px;
    }
    @include laptop{
        height: 530px;
        margin-top: 30px;
    }
}
.gap{
    height: 300px;
    width: 100%;
    @include tablet {
        height: 420px;
    }
    @include laptop {
        height: 50px;
    }
}

.home-content{
    margin:0 65px;
    .text-container{
        width: 50%;
        z-index: 500;
        min-width: 600px;
        background-color: white;
    }
    .logo{
        height: 110px;
    }
    .button-container{
        margin-top:50px;
        display: flex;
        justify-content: space-around;
        .download-button{
            border-radius: 32px;
            color: white;
            background-color:$wh-blue;
        }
    }
    .title{
        margin-top: 20px;
        font-size: 26px;
        font-weight: bold;
        color: $wh-blue;
    }
    .subtitle{
        margin-top: 5px;
        font-size: 16px;
        color: $wh-grey;
    }
    .text{
        margin-top: 5px;
        font-size: 11px;
        color: $wh-grey;
        white-space: pre-line;
        text-align: center;
    }
        @include tablet {
        height: calc(100vh - 500px);
        .button-container{
            margin-top:50px;
            .download-button{
                border-radius: 32px;
                font-size: 32px;
                padding: 18px;
                mat-icon{
                    height: 32px;
                    width: 32px;
                }
            }
        }
        .title{
            font-size: 40px;
        }
        .subtitle{
            font-size: 25px;
        }
        .text{
            font-size: 20px;
        }
    }
    @include laptop {
        height: auto;
        .button-container{
            justify-content:left;
            margin-top: 15px;
            .download-button{
                font-size: 21px;
                padding: 10px;
                mat-icon{
                    height: 40px;
                    width: 40px;
                    margin-top: -8px;
                }
            }
        }
        .title{
            font-size: 48px;
        }
        .subtitle{
            font-size: 28px;
        }
        .text{
            text-align: left;
            font-size: 16px;
        }
    }
}

.content-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin:0 20px;
    height: calc(100vh - 350px);
    @include tablet {
        height: calc(100vh - 500px);
    }
    @include laptop {
        display: none;
    }
}

.content-desktop{
    display: none;
    @include laptop {
        display: flex;
    }
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px #00000014;
    border-radius: 100px;
    padding:20px 50px 50px 50px;
}